.holders .item-content a
{
  width:100%;
}

.service-box-layout6 .item-content
{
  margin-bottom: 5px;
}

.service-box-layout6 .item-content a
{
  margin-right: 5px;
}

.question-box
{
  height: 500px;
}
